<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bat1" class="com.nt.beans.Bat" />
	<bean id="cktr" class="com.nt.beans.Crickter">
		<property name="name" value="M.S Dhoni" />
		<property name="bat" >
			<idref bean="bat1" />
		</property>
	</bean>

</beans>