<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Target Class -->
	<bean id="target" class="com.nt.service.ArithmeticOpreation" />

	<!-- Advice Class -->
	<bean id="pmadvice" class="com.nt.aspect.PreformanceMonitoringAdvice" />
	<bean id="cacheAdvice" class="com.nt.aspect.CacheAdvice" />
	<!-- PointCuts -->
	<!-- <bean id="pcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedNames">
			<array>
				<value>add</value>
				<value>dev</value>
			</array>
		</property>
	</bean> -->
	
	<!-- Advisor class -->
	<bean id="advisor1" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="cacheAdvice"/>
		<property name="mappedNames">
		<array>
			<value>add</value>
			<value>sub</value>
		</array>
		</property>
	</bean>
	<bean id="advisor2" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="pmadvice"/>
		<property name="mappedNames">
		<array>
			<value>add</value>
			<value>sub</value>
		</array>
		</property>
	</bean>

	<!-- ProxyFactoryBean -->
	<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="target" />
		<property name="interceptorNames">
			<list>
				<value>advisor1</value>
				<value>advisor2</value>
			</list>
		</property>
	</bean>

</beans>
