<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="cal" class="java.util.Calendar" factory-method="getInstance" />
	<bean id="clzz" class="java.lang.Class" factory-method="forName">
		<constructor-arg value="java.util.Date" />
	</bean>

	<bean id="s1" class="java.lang.String">
		<constructor-arg value="hello" />
	</bean>
	<bean id="sb1" factory-bean="s1" factory-method="concat">
		<constructor-arg value="_GoodMornning" />
	</bean>

	<bean id="s2" class="java.lang.StringBuffer">
		<constructor-arg value="helloWorld" />
	</bean>
	<bean id="sb2" factory-bean="s2" factory-method="substring">
		<constructor-arg value="5" />
		<constructor-arg value="10" />
	</bean>
</beans>